<div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img [src]="logoimg" width="200" height="50" class="d-inline-block align-left" alt="">
    </a>
    <span style="color:white;">
      {{systime | date: 'dd/MM/yyyy hh:mm:ss'}}
    </span>
  </nav>
  <div *ngIf="router.url === '/staff'">  
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary">Entery System</button>
      <button type="button" class="btn btn-secondary">Inventory</button>
      <button type="button" class="btn btn-secondary">Staff Detalis</button>
    </div>  
  </div>
</div>